@tailwind base;
@tailwind components;
@tailwind utilities;

/* Native Smooth Scrolling */
html {
  scroll-behavior: smooth;
  scroll-padding-top: 5rem; /* Offsets for the fixed navbar */
}

body {
  @apply bg-slate-50 text-slate-800 antialiased;
}

/* Hide scrollbar for cleaner look if desired, but keep functionality */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  @apply bg-slate-100;
}
::-webkit-scrollbar-thumb {
  @apply bg-slate-300 rounded-full;
}